html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

input[type=button] {
    border: 1px solid rgb(239, 239, 239);
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background: white;
    color: #656565;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: #f9f9f9;
}

#example-gantt {
	flex-grow: 1;
}

.control-header {
	padding: 6px;
}

.sg-external-indicator {
    position: absolute;
    background: #eee;
    padding: 0.5em 1em;
    font-size: 12px;
    pointer-events: none;
    background-color: rgb(116, 191, 255);
    color: white;
    font-family: 'Lato', sans-serif;
    z-index: 10;
}